<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Book Quest{% endblock %}</title>
    {% load bootstrap5 %}
    {% load static %}
    {% bootstrap_css %}
    <link href="{% static "css/main.css" %}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../media/assets/book_quest_logo2.png">
    {% bootstrap_javascript %}
</head>

<body>
    <div class="container">
        <div>
            
            <script>
                window.url={
                    home: "{% url 'home' %}"
                }
                
            </script>
            {{ request.user.is_authenticated|json_script:"inicio_sesion_usuario" }}
            {% block menu %}
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav barra_navegacion">
                            <img class="logo" src="../media/assets/book_quest_logo2.png"></img>
                            <a class="nav-link elemento_navegacion icono_navegacion" aria-current="page" href="{% url 'libreria' %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                                </svg>
                                <span class="texto_icono texto_icono_buscar">Buscar</span>
                            </a>
                            <a class="nav-link elemento_navegacion icono_navegacion" href="{% url 'perfil' %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmarks" viewBox="0 0 16 16">
                                    <path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v10.566l3.723-2.482a.5.5 0 0 1 .554 0L11 14.566V4a1 1 0 0 0-1-1z"/>
                                    <path d="M4.268 1H12a1 1 0 0 1 1 1v11.768l.223.148A.5.5 0 0 0 14 13.5V2a2 2 0 0 0-2-2H6a2 2 0 0 0-1.732 1"/>
                                </svg>
                                <span class="texto_icono texto_icono_buscar">Coleccion</span>

                            </a>
                            <a class="nav-link elemento_navegacion icono_navegacion" href="{% url 'pagina_recomendacion' %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                                    <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
                                </svg>
                                <span class="texto_icono texto_icono_buscar">Libros similares</span>
                            </a>

                            <a class="nav-link elemento_navegacion icono_navegacion" href="{% url 'login' %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-door-open" viewBox="0 0 16 16">
                                    <path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1"/>
                                    <path d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117M11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5M4 1.934V15h6V1.077z"/>
                                </svg>
                                <span class="texto_icono texto_icono_buscar">Iniciar sesion</span>
                            </a>
                            <a class="nav-link elemento_navegacion icono_navegacion" href="{% url 'registrarse' %}">
                                <img class="register__icon" src="../media/assets/register_icon.svg" alt="register_icon">
                                <span class="texto_icono texto_icono_buscar">Registrarse</span>
                            </a>
                            <a class="nav-link elemento_navegacion icono_navegacion" href="{% url 'logout' %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
                                    <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
                                </svg>
                                <span class="texto_icono texto_icono_buscar">Cerrar sesión</span>
                            </a>
                            {% if request.user.is_authenticated %}
                                <h3 class="nombre_usuario">{{ user.username }}</h3>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
            {% endblock %}
        </div>
        
        <div class="div__content">
            {% block content %}{% endblock %}
        </div>
    </div>
            <script type="module" src="{% static 'js/functions.js' %}"></script>

</body>
</html>