<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    
<a class="btn btn-primary" href= "{% url 'lista' %}" role="button">Volver</a>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{titulo}}</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">{{autor}}</h6>
    <p class="card-text">{{descripcion}}</p>
            <a class="btn btn-danger" href="{% url 'borrar' isbn %}" role="button">Eliminar</a>
            <a class="btn btn-success" href="{% url 'editar' isbn %}" role="button">Editar</a>

  </div>
</div>


</body>
</html>