{% extends "base.html" %}

{% block content %}

<div class="tarjeta_detalles" >
  <img class="tarjeta_detalles__imagen" src="{{imagen}}" alt="imagen libro">
  <div class="card-body tarjeta_detalles__body">
    <h5 class="card-title">{{titulo}}</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">{{autor}}</h6>
    <p class="card-text">{{descripcion}}</p>
    <p class="card-text">Numero de paginas: {{numero_paginas}}</p>
    <p class="card-text">ISBN: {{isbn}}</p>
    <p class="card-text">Opinion personal: {% if opinion == None %}Sin opinion{% else %}{{opinion}}{% endif %}</p>
    <p class="card-text">Puntuacion personal: {% if puntuacion == None %}No ha sido puntuado{% else %}{{puntuacion}}{% endif %}</p>


    
    <a class="btn btn-danger" href="{% url 'borrar' isbn %}" role="button">Eliminar</a>
    <a class="btn btn-success" href="{% url 'editar' isbn %}" role="button">Editar</a>
    
  </div>
</div>
<a class="btn btn-primary detalles__volver" href= "{% url 'perfil' %}" role="button">Volver</a>
{% endblock content %}