{% extends "base.html" %}

{% block content %}

<div class="perfil__libreria">
    <div class="libreria__titulo">
        <p class="perfil__coleccion">Colección</h2>
        <a class="btn perfil__anadir" href="{% url 'nuevoLibro' %}" role="button">Añadir</a>
        
        <div class="detalles__lectura">
            <p class="numero_paginas">{{numero_paginas}} paginas</p>
            <p class="tiempo_lectura"></p>
        </div>
    </div>
        <div class="libreria__lista">
            {% if repositorio%}
                {% for libro in repositorio %}
                <div class="card lista__libro" style="width: 18rem;">
                    <div class="libro__imagen">
                        <img src="{{ libro.imagen }}" class="card-img-top">
                    </div>
                    <div class="card-body libro__body">
                        <div class="libro__body__texto">
                            <h5 class="mb-1">{{libro.titulo}}</h5>
                            <p class="mb-1">{{libro.autor}}</p>
                        </div>
                        <span>{{libro.numero_paginas}} paginas</span>
                        <a class="btn btn-success libro__detalles libro_detalles_boton" href="{% url 'detalles' libro.isbn %}" role="button">Detalles</a>
                        <a class="boton_borrar" href="{% url 'borrar' libro.isbn %}">
                            <img class="imagen_boton_borrar" src="../media/assets/delete.png" alt="delete_icon">
                        </a>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <h3>¡Tu coleccion esta vacia!, prueba a añadir algun libro desde el apartado de busqueda<h3>
            {% endif %}
        </div>
</div>

{% endblock content %}