{% extends "base.html" %}

{% block content %}

<div class="perfil__libreria">
    <h2>Libreria personal</h2>
    <a class="btn btn-primary" href="{% url 'nuevoLibro' %}" role="button">Nuevo libro</a>
        <div style="display: flex;">
            {% for libro in repositorio %}
            <div class="card" style="width: 18rem;">
                <img src="{{ libro.imagen }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="mb-1">{{libro.titulo}}</h5>
                    <p class="mb-1">{{libro.autor}}</p>
                    <a class="btn btn-success" href="{% url 'detalles' libro.isbn %}" role="button">Detalles</a>
                </div>
            </div>
        {% endfor %}
        </div>
</div>
<div class="perfil__detalles">

</div>
{% endblock content %}