{% extends "base.html" %}

{% block content %}

<div class="lista_notificaciones">

</div>


<div class="perfil__libreria">
    <button class="boton__buscar__seleccionados">Buscar</button>
    <div class="libreria__recomendaciones">
        <div class="recomendaciones__libros">
            <span>Selecciona los libros de tu coleccion para recomendarte similares a ellos. <br> Luego pincha en el boton de buscar para iniciar la busqueda. </span>
        </div>
        <div class="libreria__lista">
            {% for libro in repositorio %}
            <div class="card lista__libro" style="width: 18rem;">
                <div class="libro__imagen">
                    <img src="{{ libro.imagen }}" class="card-img-top">
                </div>
                <div class="card-body libro__body">
                    <div class="libro__body__texto">
                        <h5 class="mb-1">{{libro.titulo}}</h5>
                        <p class="mb-1">{{libro.autor}}</p>
                    </div>
                    <p class="boton__seleccionar">Seleccionar</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}