.formulario{
    top: 30%;
    padding: 3vw;
    background-color: #8c8c7a;
    border-radius: 30px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    width: 30%;
    display: flex;
    flex-direction: column;
    border: solid #65655a 1px;
}

.boton_input{
    margin-top: 10%;
    width: 50%;
    position: relative;
    align-self: center;
}