/*APARTADO GENERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    position: absolute;
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: rgba(200, 200, 178, 0.4);
    backdrop-filter: blur(20px);
    border-radius: 30px;
    height: 85vh;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0px 0px 50px 50px rgba(0, 0, 0, 0.22);
}

body {
    background-image: url("../../media/assets/fondo_libreria3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}


@media (max-width: 992px) {
    .container{
        width: 80%;
    }
}
