.contenedor__libreria{
    overflow: scroll;
}

.contenedor__libreria__buscador{
    margin-top: 1vw;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.div_padre{
    position: relative;
}

.busqueda{
    background-color: beige;
    border-radius: 30px;
    width: 40%;
    border: none;
    padding: .5vw;
}
.icono_busqueda{
    position: relative;
    right: 5%;
}

.icono_busqueda:hover{
    cursor: pointer;
}

.icono_busqueda:active{
    transform: scale(1.3);
}

.icono_busqueda:last-child{
   width: 1.4vw;
   height: 1.4vw;
}

.imagen_contenedor_libro{
    transition: opacity .5s ease-in;
}


.libro_animacion{
    animation: aparicion ease-in 1s; 
}

    @keyframes aparicion {
        from{
            transform: translateY(20%);
            opacity: 0;
        }
        to{
            transform: translateY(0);
            opacity: 1;
        }
    }


.oculto{
    opacity: 0;
}



.loader {
    position: absolute;
    border:24px solid #0000;
    border-radius:50%;
    animation: piefill 2s linear infinite;
    height: 10%;
    width: 8%;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
    }

    @keyframes piefill {
    0% , 19%{ border-color: #0000 #0000 #0000 #0000 }
    20% , 39%{ border-color: #505037 #0000 #0000 #0000 }
    40% , 59%{ border-color: #8a8a72 #505037 #0000 #0000 }
    60% , 79%{ border-color: #8a8a72 #8a8a72 #505037 #0000 }
    80% , 100% { border-color: #8a8a72 #8a8a72 #8a8a72 #505037}
    }

.lista_notificaciones{
    position: absolute;
    display: flex;
    flex-direction: column;
    right: -50vw;
    top: -5%;

}

.notificacion_anadir{
    display: flex;
    flex-direction: column;
    padding: .5vw;
    z-index: 1;
    width: 12vw;
    height: fit-content;
    border-radius: 15px;
    transition: transform .6s ease-out;
    background-color: rgb(206, 206, 172);
    overflow: hidden;
    border: #505037 solid 1px;
}

.notificacion_anadir_visible{
    transform: translateX(-32vw);
}

.cuenta_atras{
    height: .8vw;
    position: absolute;
    width: 100%;
    background-color: green;
    margin-top: 2vw;
    left: 0;
    bottom: 0;
}

.cuenta_atras_animacion{
    animation: cuenta_atras_animacion 3.2s linear forwards;
}


@keyframes cuenta_atras_animacion {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(12vw);
    }
}