@import url("formularios.css");
@import url("general.css");
@import url("libreria.css");
@import url("perfil.css");
@import url("template_base.css");
@import url("detalles.css");
@import url("recomendacion.css");