.libreria__recomendaciones{
    padding: 1vw;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
}

.recomendaciones__libros{
    padding-top: 2vw;
    margin-left: 1vw;
    height: 100vh;
    overflow-y: scroll;
    width: 20vw;
    min-width: 13rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #59322d;
    background-color: #815b56;
    border-radius: 5px;
}

.seleccionado {
    border: 3px solid rgb(106, 63, 29);
}

.loader__recomendacion {
    width: 5vw;
    height: 5vw;
    margin-top: 40%;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid lightblue;
    border-right-color: #59322d;
    animation: l2 1s infinite linear;
}
@keyframes l2 {to{transform: rotate(1turn)}}

.boton__buscar__seleccionados{
    position: fixed;
    color: white;
    z-index: 10;
    width: 10vw;
    background-color: #7F483F;
    border: 1px solid #59322d;
    border-radius: 5px;
    align-self: center;
}

.boton__buscar__seleccionados:hover{
    background-color: #785550;
}

.boton__buscar__seleccionados:active{
    background-color: #a69592;
}

.boton__seleccionar{
    color: white;
    background-color: #7F483F;
    border: 1px solid #59322d;
    border-radius: 5px;
    padding: .2vw;
}

.boton__seleccionar:hover{
    cursor: pointer;
    background-color: #785550;
}

.boton__seleccionar:active{
    background-color: #a69592;
}


.recomendaciones__libros span{
    color: white;
    text-align: center;
    padding: 1vw;
    margin-top: 20%;
}

@media (max-width: 1200px) {
    .libreria__lista{
        margin-top: 2%;
    }
    .libreria__recomendaciones{
        flex-direction: column;
    }
    .recomendaciones__libros{
        height: 30%;
        width: 100%;
        margin-left: 0;
        flex-direction: row;
        align-items: normal;
        justify-content: center;
        justify-content: flex-start;
    }
    .recomendaciones__libros span{
        margin-top: 10%;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
    }
    .loader__recomendacion{
        margin-top: 0;
        align-self: center;
        left: 46%;
        position: relative;
    }
}