/*APARTADO GENERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 60%;
    height: 100vh;
    background-color: rgba(200, 200, 178, 0.4);
    backdrop-filter: blur(30px);
    border-radius: 30px;
    height: 85vh;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0px 0px 50px 50px rgba(0, 0, 0, 0.22);
}

body {
    background-image: url("../media/assets/fondo_libreria2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

/*APARTADO TEMPLATE BASE*/

.logo{
    height: 4vw;
    width: 4vw;
}

/*APARTADO MENU NAVEGACION*/
.barra_navegacion{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: .2vw;
}

.elemento_navegacion{
    color: black;
    display: block;
    border-radius: 50px;
    margin: .2vw;
    padding: 0;
    transition: padding .2s ease-in, background-color .4s ease-in;
}

.elemento_navegacion:hover{
    color: black;
    background-color: beige;
    padding: .6vw;
}

.elemento_navegacion:active{
    transition: padding 0s ease-in, background-color 0s ease-in;
    padding: .8vw;
    background-color: rgb(171, 171, 156);
}

.nombre_usuario{
    position: relative;
    left: 30vw;
}

/*APARTADO PERFIL*/

.libreria__titulo{
    display: flex;
    flex-direction: row;
}

.libreria__lista{
    display: flex;
    content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    overflow: scroll;

}

.lista__libro{
    margin: 0 0 1rem 1rem;
    padding: 5px;
    max-width: 10rem;
    max-height: 20rem;
    background-color: rgb(206, 206, 172);
    transition: box-shadow .3s ease-in-out;
}

.lista__libro:hover{
    box-shadow: 0px 0px 10px 5px #6a6666;
}

.lista__libro h5, p{
    font-size: small;
}

.lista__libro > img{
    max-width: 100%;
    height: 52%;
}

.libro__body{
    display: flex;
    flex-direction: column;
    position: relative;
    max-height: 50%;
    align-items: center;
}

.libro__body a {
    border: none;
    background-color: #7F483F;
}

.libro__body a:hover{
    background-color: #c77164;
}

.libro__detalles{
    bottom: 0;
}

.libro__body__texto{
    overflow: scroll;
    height: 70%;
}

/*APARTADO BUSQUEDA DE LIBROS (LIBRERIA)*/
.contenedor__libreria__buscador{
    display: flex;
    flex-direction: column;
}

.libreria__lista{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.libreria__lista__libro{
    max-width: 9rem;
    max-height: 18rem;
    margin: 0 0 1rem 1rem;
    border: 1px solid black;
    border-radius: 5px;
    padding: .2rem;
}

.libreria__lista__libro > img {
    width: 100%;
    height: 52%;
}

.libreria__lista__libro > h5 {
    margin-top: 1rem;
    font-size: small;
    max-height: 20%;
    overflow: scroll;
}

