/*APARTADO PERFIL*/

.libreria__titulo{
    display: flex;
    flex-direction: row;
}

.libreria__lista{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

.lista__libro{
    margin: 0 0 1rem 1rem;
    max-width: 10rem;
    max-height: 20rem;
    background-color: transparent;
    transition: box-shadow .3s ease-in-out;
}

.lista__libro:hover{
    box-shadow: 0px 0px 10px 5px #606060;
}

.lista__libro h5, p{
    font-size: small;
}

.lista__libro > img{
    max-width: 100%;
    height: 52%;
}

.libro__body{
    position: relative;
    max-height: 50%;
}

.libro__detalles{
    bottom: 0;
}

.libro__body__texto{
    overflow: scroll;
    height: 70%;
}

/*APARTADO BUSQUEDA DE LIBROS (LIBRERIA)*/

.libreria__lista{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.libreria__lista__libro{
    max-width: 9rem;
    max-height: 18rem;
    margin: 0 0 1rem 1rem;
    border: 1px solid black;
    border-radius: 5px;
    padding: .2rem;
}

.libreria__lista__libro > img {
    width: 100%;
    height: 52%;
}

.libreria__lista__libro > h5 {
    margin-top: 1rem;
    font-size: small;
    max-height: 20%;
    overflow: scroll;
}

