/*APARTADO GENERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: absolute;
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: rgba(200, 200, 178, 0.4);
    backdrop-filter: blur(30px);
    border-radius: 30px;
    height: 85vh;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0px 0px 50px 50px rgba(0, 0, 0, 0.22);
}

body {
    background-image: url("../media/assets/fondo_libreria3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

/*APARTADO TEMPLATE BASE*/

.logo{
    height: 4vw;
    width: 4vw;
}

.div__content{
    flex-grow: 1; 
    display: flex; 
    flex-direction: column;
    min-height: 0; 
}

/*APARTADO MENU NAVEGACION*/
.barra_navegacion{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: .2vw;
}

.elemento_navegacion{
    color: black;
    display: block;
    border-radius: 50px;
    margin: .2vw;
    padding: 0;
    transition: padding .2s ease-in, background-color .4s ease-in;
}

.elemento_navegacion:hover{
    color: black;
    background-color: beige;
    padding: .6vw;
}

.elemento_navegacion:active{
    transition: padding 0s ease-in, background-color 0s ease-in;
    padding: .8vw;
    background-color: rgb(171, 171, 156);
}

.nombre_usuario{
    position: relative;
    left: 30vw;
}

/*APARTADO PERFIL*/
.perfil__libreria{
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.libreria__titulo{
    display: flex;
    flex-direction: row;
}

.libreria__lista{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    flex-grow: 1;
    overflow-y: auto;
    min-height: 0;
}

.lista__libro{
    margin: 0 0 1rem 1rem;
    padding: .3vw;
    max-width: 12rem;
    min-width: 12rem;
    max-height: 18rem;
    min-height: 18rem;

    background-color: rgb(206, 206, 172);
    transition: box-shadow .3s ease-in-out;
}

.lista__libro:hover{
    box-shadow: 0px 0px 10px 5px #6a6666;
}

.lista__libro h5, p{
    font-size: small;
}

.libro__imagen {
    display: flex;
    justify-content: center;
    height: 50%;
    width: 100%;
}

.libro__imagen img {
    width: 12vh;
    height: 16vh;
}

.libro__body{
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 50%;
    height: 50%;
    align-items: center;
}

.libro__body a {
    width: 8vh;
    max-height: 4vh;
    font-size: 1.2vh;
    border: none;
    background-color: #7F483F;
}

.libro__body a:hover{
    background-color: #c77164;
}

.libro__detalles{
    bottom: 0;
}

.libro__body__texto{
    overflow: scroll;
    height: 70%;
}

/*APARTADO BUSQUEDA DE LIBROS (LIBRERIA)*/
.contenedor__libreria__buscador{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.busqueda{
    background-color: beige;
    border-radius: 30px;
    width: 40%;
    border: none;
    padding: .5vw;
}
.lupa_busqueda{
    position: absolute;
    right: 32%;
}

.lupa_busqueda:hover{
    cursor: pointer;
}




