/*APARTADO GENERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    position: absolute;
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: rgba(200, 200, 178, 0.4);
    backdrop-filter: blur(20px);
    border-radius: 30px;
    height: 85vh;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0px 0px 50px 50px rgba(0, 0, 0, 0.22);
    overflow-y: scroll;
}

body {
    background-image: url("../media/assets/fondo_libreria3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

/*APARTADO TEMPLATE BASE*/

.logo{
    height: 4vw;
    width: 4vw;
}

.div__content{
    flex-grow: 1; 
    display: flex; 
    flex-direction: column;
    min-height: 0; 
}

/*APARTADO MENU NAVEGACION*/
.barra_navegacion{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: .2vw;
}

.elemento_navegacion{
    color: black;
    display: block;
    border-radius: 50px;
    margin: .2vw;
    padding: 0;
    transition: padding .2s ease-in, background-color .4s ease-in;
}

.elemento_navegacion:hover{
    color: black;
    background-color: beige;
    padding: .6vw;
}

.elemento_navegacion:active{
    transition: padding 0s ease-in, background-color 0s ease-in;
    padding: .8vw;
    background-color: rgb(171, 171, 156);
}

.nombre_usuario{
    position: relative;
    left: 10%;
}

/*APARTADO PERFIL*/
.perfil__libreria{
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow-y: scroll;
}


.libreria__titulo{
    display: flex;
    flex-direction: row;

    align-items: center;
}

.libreria__lista{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    flex-grow: 1;
    min-height: 0;
    max-height: 60%;
}

.lista__libro{
    margin: 0 0 1rem 1rem;
    padding: .3vw;
    max-width: 12rem;
    min-width: 12rem;
    max-height: 18rem;
    min-height: 18rem;

    background-color: rgb(206, 206, 172);
    transition: box-shadow .3s ease-in-out;
}

.lista__libro:hover{
    box-shadow: 0px 0px 10px 5px #6a6666;
}

.lista__libro h5, p{
    font-size: small;
}

.libro__imagen {
    display: flex;
    justify-content: center;
    height: 50%;
    width: 100%;
}

.libro__imagen img {
    width: 12vh;
    height: 16vh;
}

.libro__body{
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 50%;
    height: 50%;
    align-items: center;
}

.libro_detalles_boton {
    width: 8vh;
    max-height: 4vh;
    font-size: 1.2vh;
    border: none;
    background-color: #7F483F;
}

.libro_detalles_boton:hover{
    background-color: #c77164;
}

.libro__detalles{
    bottom: 0;
}

.libro__body__texto{
    overflow: scroll;
    height: 70%;
}

.imagen_boton_borrar{
    right: 0;
    bottom: 0;
    position: absolute;
    width: 15%;
    transition: transform .2s ease-in;
}

.imagen_boton_borrar:hover{
    transform: scale(1.4);
}


.detalles__lectura {
    position: sticky;
    height: fit-content;
    width: 18%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 78%;
}

.detalles__lectura p {
    font-size: medium;
    margin: 0;
}

.perfil__coleccion{
    margin-left: 5%;
    font-size: xx-large;
}

.perfil__anadir{
    color: white;
    background-color: #7F483F;
}

.perfil__anadir:hover{
    color: white;
    background-color: #c77164;
}



/*APARTADO BUSQUEDA DE LIBROS (LIBRERIA)*/
.contenedor__libreria{
    overflow: scroll;
}

.contenedor__libreria__buscador{
    margin-top: 1vw;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.div_padre{
    position: relative;
}

.busqueda{
    background-color: beige;
    border-radius: 30px;
    width: 40%;
    border: none;
    padding: .5vw;
}
.lupa_busqueda{
    position: relative;
    right: 5%;
}

.libro_animacion{
    animation: aparicion ease-in 1s; 
}

    @keyframes aparicion {
        from{
            transform: translateY(20%);
            opacity: 0;
        }
        to{
            transform: translateY(0);
            opacity: 1;
        }
    }

.lupa_busqueda:hover{
    cursor: pointer;
}

.oculto{
    opacity: 0;
}



.loader {
            position: absolute;
            border:24px solid #0000;
            border-radius:50%;
            animation: piefill 2s linear infinite;
            height: 10%;
            width: 8%;
            left: 50%;
            top: 40%;
          }

          @keyframes piefill {
            0% , 19%{ border-color: #0000 #0000 #0000 #0000 }
            20% , 39%{ border-color: #505037 #0000 #0000 #0000 }
            40% , 59%{ border-color: #8a8a72 #505037 #0000 #0000 }
            60% , 79%{ border-color: #8a8a72 #8a8a72 #505037 #0000 }
            80% , 100% { border-color: #8a8a72 #8a8a72 #8a8a72 #505037}

          }

